@model financa_domain.Despesa

<div class="form-horizontal">
    <form action="Create" method="Post">

        <div class="form-group">
            <label>Data</label>
            <input  class="form-control"
                    type="text" name="dataDespesa"/>
        </div>

        <div class="form-group">
            <label>Numero do documento</label>
            <input  class="form-control"
                    type="text" name="numDoc"/>
        </div>

        <div class="form-group" style="width: 200px">
            <label>Tipo da despesa</label>
            <select  class="form-control"
                     name="grupoDespesa.id">
            <option></option>
            @foreach (var item in ViewBag.Categoria){
                <option value="@item.id">@item.nome</option>
            }
            </select>
        </div>

        <div class="form-group">
            <label>Estabelecimento</label>
            <input  class="form-control"
                    type="text" name="estabelecimento"/>
        </div>

        <div class="form-group">
            <label>Valor</label>
            <input  class="form-control"
                    type="text" name="valor"/>
        </div>

        <input  class="btn btn-primary" 
                type="submit" value="Salvar"/>

    </form>
</div>